@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {

    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
}

* {
    font-family: 'Inter';
    box-sizing: border-box;
}

.wrapper {
    background-color: var(--very-dark-blue);
}

.myMain {
    height: 60vh;
    background-color: var(--dark-desaturated-blue);
}

.myScroll {}

/* The entire scrollbar */
.myScroll::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

/* The draggable part of the scrollbar */
.myScroll::-webkit-scrollbar-thumb {
    background-color: var(--soft-violet);
    /* Color of the draggable part */
    border-radius: 6px;
    /* Rounded corners */
}

/* The part of the scrollbar not being dragged */
.myScroll::-webkit-scrollbar-track {
    background-color: transparent;
    /* Background color of the track */
    border-radius: 6px;
    /* Rounded corners */
}

.highlight {
    color: var(--soft-violet);
}

.myOver {
    background-color: var(--soft-violet);
    /* filter: brightness(.75); */
}

.wCol {
    color: var(--white);
}

.gCol {
    color: var(--slightly-transparent-white)
}